.button {
  background-color: rgba(turquoise, 0.7);
  color: white;
  cursor: pointer;
  font-weight: 700;
  font-size: small;
  padding: .75rem;
  border-radius: 25px;
  text-transform: uppercase;
  transition: all 0.4s ease;
  text-decoration: none
  // &:hover {
  //   background-color: rgba(rebeccapurple, 0.9);
  // }
}
